<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<!-- /Fonts -->
<!-- Bootstrap -->
<link rel="stylesheet" href="../../../css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../../css/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" href="../../../css/bootstrap/clockpicker.css">
<link rel="stylesheet" href="../../../css/bootstrap/datatables.min.css">
<link rel="stylesheet" href="../../../css/bootstrap/daterangepicker.css">
<link rel="stylesheet" href="../../../css/bootstrap/glyphicon.css">
<!-- /Bootstrap -->
<link rel="stylesheet" href="../../../css/other/material-ui.css">
<link rel="stylesheet" href="../../../css/other/jquery-ui.min.css">
<link rel="stylesheet" href="../../../css/other/jquery-ui.custom.css">
<link rel="stylesheet" href="../../../css/other/design.css">
<link rel="stylesheet" href="../../../css/main.css?v={{VERSION}}">
