<script type="text/javascript" src="../../../js/other/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../../js/other/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/other/design.js?v={{VERSION}}"></script>
<script type="text/javascript" src="../../../js/classes/Topic.js?v={{VERSION}}"></script>
<!-- TinyMCE -->
<script type="text/javascript" src="../../../js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="../../../js/tinymce_init.js"></script>
<!-- /TinyMCE -->
<!-- Bootstrap -->
<script type="text/javascript" src="../../../js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="../../../js/bootstrap/clockpicker.js"></script>
<script type="text/javascript" src="../../../js/bootstrap/datatables.min.js"></script>
<!--<script type="text/javascript" src="../../../js/bootstrap/daterangepicker.js"></script>-->
<script type="text/javascript" src="../../../js/bootstrap/notify.js"></script>
<!-- /Bootstrap -->