<div class="bases_list">
    <a class="base all" href="/list/view/all">
        Все
        <div class="topics_count"></div>
    </a>
    <a class="base line" href="/list/view/line">
        Линия
        <div class="topics_count"></div>
    </a>
    <a class="base point" href="/list/view/point">
        Мастерские
        <div class="topics_count"></div>
    </a>
    <a class="base dv" href="/list/view/dv">
        Добрые вещи
        <div class="topics_count"></div>
    </a>
    <a class="base lenbaget" href="/list/view/lenbaget">
        Ленбагет
        <div class="topics_count"></div>
    </a>
    <a class="base lenreklama" href="/list/view/lenreklama">
        Ленреклама
        <div class="topics_count"></div>
    </a>
</div>